h1{
    background-color: blueviolet;
    text-align: center;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
       
    }
    .container_first{
        background-color: chartreuse;
        width: 500px;
        height: 300px;
        
        
    }
    .container_second{
        background-color:red;
        width: 500px;
        height: 300px;
        
    }
    .footer{
        text-align: center;
    }